<h1 class="title">{{username}}</h1>
<div class="container">
    <img class="profile-picture" src="{{path}}" width="300"/><br/>
    <a type="button" class="edit" href="photo">Spremeni sliko</a>
    <p><b>Mail: </b>{{email}}</p>
    <br><a type="button" class="edit" href="logout">Odjava </a>
</div>
