<h1 class="title">Izberi sliko</h1>
<form class="standard-form picture-form" action="/photos"  method="post" enctype="multipart/form-data">
    <input type="file" name="image">
    <input type="submit" value="Dodaj">
</form>